.footer_div{
    background-color: #EBD6FB;
    display: flex;
    justify-content: center;
    
}
.logo_white{
    width: 150px;
    height: 150px;
}
.logow_con{
    display: flex;  
    margin-left: 2%;
}
h6{
    font-weight: 500;
    font-size: 20px;
}
.logo_line{
    margin-top: 20%;
}
.ctn_deets{
    display: flex;
    margin-top: 1%;

    a{
        text-decoration: none;
        color: #333333;
        font-weight: 400;
        margin-top:0.3%;
        margin-left: 3.2%;
        /* width: 200px; */
    }
}
.ctn_deets:hover{
    text-decoration: underline;
}
.deets_icon{
    height: 26px;
}
.ctn_con{
    margin-top: 1%;
    margin-bottom: 0.5%;
    color: #333333;

    h1{
        font-weight:900;
        
    }
    
    p{
        font-size: 12px;
        margin-top:5px;
        margin-left: 1%;
    }
}
.email_con{
    border: none;
    border-radius: 20px;
    padding: 8px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
    background-color: #f5e8fd;
}
.email_con:hover{
    background-color: #d3a1f6;
    color: white;
}