.navbar{
  display: flex;
  background-color: #EBD6FB;

}
button .search_icon {
  fill: white; /* in case color doesn't work */
  color: white !important;
}
.navlink li{
  color: #333333 !important;
  font-weight: bolder;
}
body{
   font-family: 'Roboto', sans-serif;
}